 .design-container {
      max-height:100vh;
    overflow:auto;
    border:1px solid red;

 }
 
 .card {
    margin: .5em .5em 2em .5em;
    padding:10px;
    max-width: 90%;
    border: 1px solid var(--borders-hover);

    &__title {
        color: var(--highlight-3);
        font-size:1em;
        padding-bottom: 1em;
    }

    &__image {
        width:100%;
    }
  }

  .tools {
    display:flex;
    flex-direction:row;
    
    &__item {
        padding-left: 5px;
        padding-right: 5px;
    }

    &__icon {
        height: 1.8em;
    }
  }

  .links {
      display:table;
      width:80%;
      margin:auto;
      padding-top: 10px;
      padding-bottom: 10px;

      &__btn {
          display:table-cell;
          font-size: 1em;
          padding: .2em;
          width: 50%;
          text-align:center;
        }
        &__btn-dark {
            color: var(--background-color);         
            background: var(--accent-color-3);
            text-decoration: none;
            border: none;
            border: 2px solid var(--accent-color-3);
        }
        &__btn-light{
            color: var(--accent-color-3);
            background: var(--background-color);
            text-decoration: none;
            border: none;
            border: 2px solid var(--accent-color-3);
         }
  }

  .artifacts {
      display:block;
      height:auto;

      ul {
          margin: 0 0 0 25px;
      }

      li {
          list-style:square;
          height: auto;
      }

      &__title {
          color: var(--accent-color-3);
                    font-weight:700;
      }

      &__desc {
          font-size: .8em;
          font-style:italic;
          padding-left:1em;
      }
    
  }

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
.artifacts {
    display:flex;
    flex-direction:row;
}