.project-viewer {
    display:flex;
    flex-direction: row;
}


.project-viewer__nav {
  display:none;
}



ul {
  margin:0;
  padding:0;
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .project-viewer {
        height:97vh;
    }
    
    .project-viewer__nav {
        display:flex;
        width:75%;
    }


}




