

nav {
  display:flex;
  flex-direction: row;
  
}

.left-curly {
  height: 4.5em;
  filter: invert(45%) sepia(20%) saturate(654%) hue-rotate(308deg) brightness(102%) contrast(89%);
}

.items {
  text-align:left;
}

ul {
  margin:0;
  padding:0;
}




