.proj {

    &__site-header {
        background-color: var(--background-color-contrast);
        padding:10px 10px 0 10px;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
    } 

    &__project-viewer {
        padding:10px;
        margin-top: 175px;
    }

}

.intro__left-curly {
    margin-left: -25px;
}

.header {
    display:flex;
    flex-direction:column;

    &__image {
        height: 2em;
    }
}


@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
section {
    display:flex;
}

.proj {

    &__site-header {
        background-color: var(--background-color-contrast);
        padding:10px 10px 0 10px;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        height:28em;
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
    } 

    &__project-viewer {
        padding:10px;
        margin-top: 28em;
    }

    &__intro-wide {
        display:block;
        position:sticky;
        top:0;
    }

    &__intro-narrow {
        display:none;
    }

    &__nav-narrow {
        display:none;
    }

    &__nav-wide {
        display:block;
    }
    
}


}